$backgroundColor: #ddd;
$contentBackgroundColor: #fff;
$errorColor: #c00;
$hoverColor: #999;
$navColor: #ccc;
$textColor: #333;
$width: 960px;

body  {
  background-color: $backgroundColor;
  color: $textColor; 
}

div.field, div.actions {
  margin-bottom: 10px;
}

footer  {
  text-align: center;
}

nav {
  background-color: #ccc;
  text-align: center;
  
  &>a{
    color: inherit;
    padding: 1%;
    text-decoration: none;
    
    &:hover, &:focus  {
      color: $hoverColor;
    }
  }
}

.container  {
  background-color: $contentBackgroundColor;
  margin: 0 auto;
  
  @media only screen and (min-width: $width)  {
    width: $width;
  }
  
  @media only screen and (max-width: $width -1) {
    width: 90%;
  } 
}

.content, header, footer  {
  padding: 1%;
}

.field_with_errors {
  background-color: $errorColor; color: #fff;
  display: inline-block; padding: 1px;
}

#error_explanation {
  border: 2px solid $errorColor;
  margin-bottom: 10px;
  h2 {
    background-color: $errorColor;
    color: #fff;
    font-size: 12px;
    margin: 0;
    padding: 5px 5px 5px 15px;
  }
}